* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    line-height: 1.5;
}

#body-background-img{
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.header{
    background-color: orange;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a {
    margin:10px;
    text-decoration: none;
}

li:hover {
    background-color: aqua;
}

li {
    padding: 10px;
    display: inline;    
}

.body-link-wrapper {
    display: flex;
    padding-top: 20px;
    align-items: bottom;
    
}

.hero-section {
    
    background-color: darkblue;
    
}

.hero-video-overlay {
    display: flex;
    position: absolute;
    top: 200px;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
    
   
}

.hero-section video {
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: cover;
}

.service-section {
    display: flex;
    flex-direction: column;
}

.service-upper-half , .service-lower-half {
    width: 100%;
    height:calc(50vh - 100px);
    display: flex;
}

.service-upper-half {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/pexels-fauxels-3184465.jpg);
    background-size:cover;
    display: flex;
    justify-content: left;
    
}

.service-lower-half {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/pexels-andrea-piacquadio-3863775.jpg);
    background-size:cover;
    display: flex;
    justify-content: right;
    
}

.service-text{
    z-index: 10;
    background-color: rgba(252, 235, 5, 0.418);
    width: 35%;
    display: flex;
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.service-text h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.service-text p {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: justify;
    
}

.about-section {
    background:url(../media/img/superdevs-assemble-final.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items:flex-end;
    display: flex;
}

.about-section h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-text-wrapper {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:20px;

}

#contact-section {
  display: flex;
  height:500px;
  width: 100%;
  background-color: lightskyblue;
}

.contact-mail-wrapper {
    display: flex;
   background-color: crimson;
   width: 20%;
}

.contact-phone-wrapper{
    display: flex;
    background-color: darkblue;
    width: 20%;
}

.contact-adress-wrapper {
    display: flex;
    background-color: orange;
    width: 20%;
}

.contact-form-wrapper {
    display: flex;
    background-color: lightcoral;
    width: 40%; 
}

.contact-wrapper {
    display: flex;
    width: 100%;
}