* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    scroll-behavior: smooth;
}

html {
    line-height: 1.5;
}

#body-background-img{
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.header{    
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 10px black;
    border-bottom: 2px solid white;    
    z-index:999;    
}

.header h1 {
    font-size: 70px;
    border-bottom: 3px solid white;
}

.header a {
    margin:10px;
    font-size: 20px;    
}

a {
    text-decoration: none;
}

a:hover {
    color: brown;    
    transition: 0.5s;
    
}

li {
    padding: 10px;
    display: inline;    
}

.body-link-wrapper {
    display: flex;
    padding-top: 20px;
    align-items: bottom;
    
}

.hero-section {
    height: calc(100vh - 200px);   
}

.hero-video-overlay {
    display: flex;
    position: absolute;
    top: 200px;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
}

.hero-video-overlay h1 {
    font-size: 60px;
    text-shadow: 0 0 15px rgba(255, 244, 219, 0.637);
}

.hero-section video {
    width: 100%;
    height: calc(100vh - 200px);
    object-fit: cover;
}

.service-section {
    display: flex;
    flex-direction: column;
}

.service-upper-half , .service-lower-half {
    width: 100%;
    height:calc(50vh - 100px);
    display: flex;
}

.service-upper-half {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/pexels-fauxels-3184465.jpg);
    background-size:cover;
    display: flex;
    justify-content: left;
    background-position: right 45%;
}

.service-lower-half {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/pexels-andrea-piacquadio-3863775.jpg);
    background-size:cover;
    background-position: right 55%;
    display: flex;
    justify-content: right;    
}

.service-text{    
    z-index: 10;    
    width: 450px;
    display: flex;
    margin: 40px 8% 40px 8%;
    display: flex;
    flex-direction: column;
}

.service-text-headline {
    display: flex;    
    justify-content: center;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    border-bottom: 3px solid brown;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    
}

.service-text-content {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: justify;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    
}

.about-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../media/img/superdevs-assemble-final.jpg) no-repeat;
    background-size: cover;
    background-position: bottom 50%;
    height: calc(100vh - 200px);
    justify-content: center;
    align-items:flex-end;
    display: flex;
}

.about-text-headline {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    border-bottom: 3px solid brown;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.about-text-content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;    
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.about-text-wrapper {    
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:20px;
    width: 80%;
}

.contact-section {
  display: flex;
  height:500px;
  width: 100%;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px;
    height: 400px;
    align-items: center;
}

.contact-mail-wrapper {
display: flex;
   height: 50px;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   width: 300px; 
}

.contact-phone-wrapper{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;   
    font-size: 30px;
    width: 300px;
    margin-bottom: 15px;   
}

.contact-mail-wrapper a:hover,
.contact-phone-wrapper a:hover {
    color: brown;
    transform: scale(1.1);
    transition: 0.5s;    
}

.contact-adress-wrapper {
    display: flex;
    flex-direction: column;
    height: 180px;
    align-items: center;
    justify-content: center;
    width: 210px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);    
    border-radius: 10px;
    line-height: 2;   
}

.contact-social-section{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40px;
    padding: 60px 20px 0 20px;
    width: 300px;
}

.contact-social-section i:hover{
    color: brown;
    transform: scale(1.1);
    transition: 0.5s;    
}

.contact-social-section a:hover{
    color: initial;
    transform: scale(1);
    transition: none;    
}

.contact-robot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-robot-image {
    transform: scale(90%, 100%);
    width: 500px;
    opacity: 0.2;
}

.contact-form-wrapper {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;      
    width: 100%;
    align-items: center;       
}

.contact-form-wrapper input {
    background-color: lightgray;    
    padding:10px;
    width: 300px;
    height: 35px;
    color: black;
    border-radius: 10px;
    border: 0;
    outline-offset: 5px;         
}
.contact-form-wrapper textarea {
    background-color: rgb(231, 231, 231);    
    padding:10px;
    width: 300px;
    height: 200px;
    color: black;
    border-radius: 10px;
    border: 0;
    resize: none;
    outline-offset: 5px;  
}

.contact-form-textfields {    
    display: grid;
    justify-content: center;
    height: 350px;    
}

.contact-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;    
}

.contact-form-button input {        
    width: 200px;
    height: 50px;    
    text-justify: center;
    border-radius: 25px;
    font-weight: bold;
}

.contact-form-button input:hover {
    background-color: brown;
    color: white;
    transform: scalex(1.05);
    transition: 0.2s;

}

@media (max-width: 800px) {
    .about-section {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    
    .contact-section {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 35vh;
        height: calc(100vh-200px)        
    }
    
    .contact-robot-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 25px;
    }
    
    .contact-robot-image {
        width: 200px;
        opacity: 0.1;        
    }

    .contact-form-wrapper {
        padding-bottom: 25px;
    }

    .hero-video-overlay h1 {
        font-size: 30px;
    }

    .about-section {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/superdevs-assemble-final.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;        
        height: calc(100vh - 200px);
        justify-content: center;
        align-items:center;
        display: flex;
    }
}

